## 1. Defining Strings in Python
- A string is a collection of character(s) closed within single or double quotation marks. (There is no `char` data type in Python as in C/C++)
- A string can also contain a single character or be entirely empty.
- To make a single quote part of a string, define the string using double quotes and vice versa. You can also make use of escape sequence

In [1]:
string1 = 'Hello'
print(string1)

string2 = "World"
print(string2)

string3 = ""
print(string3)

string4 = "A"
print(string4)

Hello
World

A

In [2]:
# triple quotes string can extend multiple lines

string5 = """Hello, This is
            multi-line string"""
print(string5)

string5 = '''Hello, This is
            multi-line string'''
print(string5)

Hello, This is
            multi-line string
Hello, This is
            multi-line string

In [3]:
# Be careful with quotes!
'I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (2198476966.py, line 2)

In [5]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

## 2. Accessing Characters of a String in Python
- Since string is of type sequence, and any component within a sequence can be accessed by entrying an index within square brackets. So naturally this work for strings as well
- Similarly, if we want to find out the index of a specific item/character, we can use the `str.index()` method

In [7]:
str = 'Python Programming is fun'
print('str = ', str)

#access first index
print('str[0] = ', str[0])

# Negative indices start from the opposite end of the string. Hence, -1 index corresponds to the last character
print('str[-1] = ', str[-1])

#access second last index
print('str[-2] = ', str[-2])

#print(str[17])     #access an index out of the range, will get error

#print(str[1.5])    #use numbers other than an integer as index will flag an error

str =  Python Programming is fun
str[0] =  P
str[-1] =  n
str[-2] =  u

In [8]:
# To find out the index of a specific character
str = "Python Programming is fun"
str.index('th')

2

In [10]:
dir()

['In',
 'Out',
 '_',
 '_4',
 '_5',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'quit',
 'str',
 'string1',
 'string2',
 'string3',
 'string4',
 'string5']

## 3. Strings are Immutable

In [11]:
#strings are immutable, means string object does not support item assignment
str1 = 'Amna Yousaf'

#str1[5] = 'c'

print(id(str1))

#assigning a new value is valid
str1 = 'python'

print(id(str1))

140577095104240
140577062180784

The object `Amna yousaf` is now orphan, since there is no variable referring to it now and will be collected by Python garbage collector.

## 4. Slicing Strings
- Slicing is the process of obtaining a portion (substring) of a string by using its indices.
- Given a string, we can use the following syntax to slice it and obtain a substring:
```
string[start:end]
```

- **start** is the index from where we want the substring to start. If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our substring to end (not inclusive in the substring). If end is not provided, slicing goes till the end of the string (includes the last character of the string).

In [12]:
str1 = 'DataScienceToolsAndTechniques'

print(str1[0:4]) # From the start till before the 4th index
print(str1[:4]) # From the start till before the 4th index
print(str1[11:16])
print(str1[19:]) # From the 19th index till the end
print(str1[19:len(str)]) # From the 19th index till the end
#if start is greater than end, it will return empty string
print(str1[5:2])

Data
Data
Tools
Techniques
Techni

### a. Slicing with a Step 
- In the above example, weâ€™ve used slicing to obtain a contiguous piece of a string, i.e., all the characters from the starting index to before the ending index are retrieved.
- However, we can define a step through which we can skip characters in the string. The default step is 1, so we iterate through the string one character at a time.
- The step is defined after the end index:
```
string[start:end:step]
```

In [13]:
str1 = 'DataScienceToolsAndTechniques'
print(str1[::])  # A default step of 1
print(str1[::1])  # A step of 1
print(str1[::2])  # A step of 2

DataScienceToolsAndTechniques
DataScienceToolsAndTechniques
DtSineolAdehius

### b. Reverse Slicing
- Strings can also be sliced to return a reversed substring. 
- For reverse slicing we need to give a negative step
- For reverse slicing the `start` index must be greater than the `end` index, otherwise an empty string will be returned

In [14]:
str1 = '0123456789'
print(str1[::-1]) 
print(str1[5:1:-1]) 
print(str1[2:10:-1])
print(str1[::-2])

9876543210
5432

97531

## 5. String Concatenation
- Two strings can be joined or concatenated using the `+` operator

In [15]:
str1 = 'Hello'
str2 =' World!'
str3 = str1 + str2
print('str1 + str2 = ', str3)


print("Y" + str3[1:])

str1 + str2 =  Hello World!
Yello World!

## 6. Creating Large strings
- A string can be replicated/repeated using the `*` operator

In [16]:
str1 = 'Hello'
print('str1 * 5 =', str1 * 5)

buffer = 'A' * 100
print(buffer)

str1 * 5 = HelloHelloHelloHelloHello
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

## 7. String Methods
- Objects in Python usually have built-in **methods**. These methods are functions defined in the class that can perform actions on the object of that class. 
- To keep it simple, methods are actions that are performed on object of a class, while functions are actions that belong to no 'data thing' (object). They just exist in the program.
- Methods will perform specific actions on the object and can also take arguments. We call methods with a period and then the method name. Basically, we say `"Hey object, do this to these arguments"`. The syntax to call methods is:
```
object.method(arg1, arg2, ...)
```
- Where parameters are extra arguments we can pass to the method.
- Remember, most of the String methods do not modify the string object on which they are called, rather return a new string object that has been altered as per the requested opertaion. 
- Let me re-emphasize, that all string methods return new values and DO NOT change the existing string. 
- [Click me to learn more about string methods](https://www.w3schools.com/python/python_ref_string.asp)a

### a. The `len()`, `str.lower()`, `str.upper()` and `str.capitalize()` methods
- The `len()` is a built-in function that returns the number of items of a container data type passed as argument. We can check the length of any data types that are collections with built-in `len()` function.
It is considered a built-in function.
- The `str.lower()` method return a copy of the string converted to lowercase.
- The `str.upper()` method return a copy of the string converted to uppercase.
- The `str.capitalize()` method return a capitalized version of the string.

In [17]:
str1= "Hello World"
mylist = [1,2,3,4,5]
len(str1)
len(mylist)

5

In [18]:
str1 = 'python for machine learning'
print('Orignial string = ', str1)

rv = len(str1)
print('len(str1) = ', rv)

rv = str1.lower()
print('str1.lower() = ', rv)
      
print('str1.upper() = ', str1.upper())

rv = str.capitalize()
print('str1.capitalize() = ', rv)
print('Orignial string = ', str1)

Orignial string =  python for machine learning
len(str1) =  27
str1.lower() =  python for machine learning
str1.upper() =  PYTHON FOR MACHINE LEARNING
str1.capitalize() =  Python programming is fun
Orignial string =  python for machine learning

### b. The `str.strip()` method
- The `str.strip()` method removes whitespace characters from the beginning and end of a string.
- The `str.lstrip()` method removes whitespace characters from the beginning of a string.
- The `str.rstrip()` method removes whitespace characters from the end of a string.

In [19]:
buffer ="    hello world, this is       python for machine learning class       "
rv = buffer.strip()
print(buffer)
print(rv)

    hello world, this is       python for machine learning class
hello world, this is       python for machine learning class

In [20]:
buffer
buffer.lstrip()

'hello world, this is       python for machine learning class       '

In [21]:
buffer
buffer.rstrip()

'    hello world, this is       python for machine learning class'

### c. The `str.startswith()` method
The `str.startswith()` method return True if str starts with the specified prefix, False otherwise.
```
str.startswith(prefix[, start[, end]])
```

In [29]:
str1 = "python for machine learning class"

rv = str1.startswith('class')
print(rv)

rv = str1.startswith('python')
print(rv)


rv = str1.startswith('for', 21)
print(rv)

# case sensitive
rv = str1.startswith('Python', 21)
print(rv)

rv = str1.startswith('tho', 2, 10)  # character at ending index is not included
print(rv)

False
True
False
False
True

### d. The `str.split()` and `str.join()` method
- The `str.split()` method splits a string into a list of strings at every occurrence of space character by default. You may pass a parameter `sep='i'` to split method to split at that specific character instead.
- The `sep.join(list)` method is passed a list/iterable as parameter and is called on a separater character. It joins the strings inside the list to a single string and returns

In [30]:
str1 = 'Learning is fun with machine learning'
rv = str1.split()
print(rv)
print(type(rv))

['Learning', 'is', 'fun', 'with', 'machine', 'learning']
<class 'list'>

In [31]:
str1 = 'Learning is fun with machine learning'
rv = str1.split(sep='i')
print(rv)
print(type(rv))

['Learn', 'ng ', 's fun w', 'th mach', 'ne learn', 'ng']
<class 'list'>

In [32]:
mystr = "L e a r n i n g"
mystr.split(' ')

['L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [33]:
# The join() method takes all items in an iterable and joins them into one string.
mylist = ['Learning', 'is', 'fun', 'with', 'machine','learning']

#Note the separator is space character
mystr = ' '.join(mylist)

print(mylist, type(mylist))
print(mystr, type(mystr))

['Learning', 'is', 'fun', 'with', 'machine', 'learning'] <class 'list'>
Learning is fun with machine learning <class 'str'>

### e. The `str.find()` method
- The `str.find()` method is used to find a substring from within a string, which returns the first index at which a substring occurs in a string. If no instance of the substring is found, the method returns -1.
```
str.find(substring, start, end)
```
where 
    - `substring` is what we are searching for,
    - `start` is the index from where we want to start searching (default value is 0)
    - `end` is the index where we want to stop our search (default value is len(str) -1)

In [34]:
str1 = 'DataScienceToolsAndTechniques'
print(str1.find('Data'))
print(str1.find('And'))


print(str1.find('S',2)) # second argument starts searching from that index
print(str1.find('s',2)) # case sensitive

print(str1.find('S',0, 4)) # third argument stops searching uptill that index
print(str1.find('S',0, 5))

0
16
4
15
-1
4

### f. Use `str.replace()` method to find a substring
- The `str.replace()` method returns a string after replacing all occurrences of `substring_to_be_replaced` with `new_string`.
```
str.replace(substring_to_be_replaced, new_string, count = -1)
```
- Note that `replace` returns a new string, and the original string is not modified.

In [35]:
print("hello".replace("e","a"))

hallo

In [36]:
str1 = 'Welcome to Learning Data Science with me'
newstring = str1.replace('Data Science', 'Life')
print(str1)
print(newstring)

Welcome to Learning Data Science with me
Welcome to Learning Life with me

## 1. How to Create Lists?
>- **A Python List is a numerically ordered sequence of elements that can store multiple items of heterogeneous types and allows duplicate elements.**
>- **A Python List can be created by placing comma separated values in square brackets.**

In [37]:
# It allows us to store elements of different data types (number, boolean, string, list) in one container.

list1 = [1,2,3,4,5]   #list of integers
print(list1)

list2 = [3.7, 6.5, 3.8, 7.95 ]   #list of floats
print(list2)

list3 = ["hello", "this", "F", "good show"]   #list of strings
print(list3)

list4 = [True, False, True]   #list of boolean
print(list4)

list5 = []   #this will create an empty list
print(list5)

print(type(list5))

[1, 2, 3, 4, 5]
[3.7, 6.5, 3.8, 7.95]
['hello', 'this', 'F', 'good show']
[True, False, True]
[]
<class 'list'>

In [38]:
# Nested list: list can also have another list as an item
list1 = ["class", 30, 5.5, [10,'learning']]
print(list1)

['class', 30, 5.5, [10, 'learning']]

In [39]:
# we can create empty list
empty_list = []
print (empty_list)

[]

In [40]:
#printing multiple lists
list1 = [1,2,3,4,5]
list2 = ["class", 30, 5.5, [10,'learning']]
empty_list = []

print(list1, list2, empty_list, sep='\n')

[1, 2, 3, 4, 5]
['class', 30, 5.5, [10, 'learning']]
[]

## 2. Proof of concepts

### a. Lists are heterogeneous
- Lists are heterogeneous, as their elements/items can be of any data type

In [41]:
list1 = ["class", 30, 5.5]
print("list1: ", list1)

list1:  ['class', 30, 5.5]

### b. Lists are ordered
- Lists are ordered means every element is associated by an index
- Every time you access list elements they will show up in same sequence. 
- Moreover, two lists having same elements in different order are not same.

In [42]:
x = [1, 2, 3]
y = [1, 2, 3]
id(x), id(y), x is y, x==y

(140577095266368, 140577095265728, False, True)

In [43]:
a = [1, 2, 3]
b = [2, 3, 1]
id(a), id(b), a is b, a == b

(140577095206592, 140577095190848, False, False)

### c. Lists are mutable
- We have seen in previous session that Strings are **immutable**, i.e., we cannot change the contents of a string, however, we can assign an entirely new string to a variable
- List on the contrary are **mutable**, i.e., once a List object is created, you can change an element of the list using the index `[]` and assignment `=' operator

In [44]:
numbers = [10, 20, 30, 40, 50]
numbers[2] = 555
print("numbers: ", numbers)

numbers:  [10, 20, 555, 40, 50]

### d. Lists can have duplicate emements

In [45]:
# lists allow duplicate elements
names = ['Amna', 'Noor', 'Hina', 'Amna', 'warda']
print(names)

['Amna', 'Noor', 'Hina', 'Amna', 'warda']

### e. Lists can be nested to arbitrary depth
- You can have list within list and that can be done to an arbitrary depth. You are only restricted to the available memory on your system

In [46]:
# A list having two sub-lists within it
a = [1,2,3,[4,5],[6,7,8,9],10,11]

# A list having a sublist, which is further having a sublist and that again having a sublist
b = [1,2,3,[4,5,[6,7,8,[9,10,11]]]]
a, b

([1, 2, 3, [4, 5], [6, 7, 8, 9], 10, 11],
 [1, 2, 3, [4, 5, [6, 7, 8, [9, 10, 11]]]])

### f. Packing and Unpacking Lists

In [47]:
# you can unpack list elements
mylist = ['learning', 'is', 'fun', 'with', 'me']
a, b, c, d, e = mylist # the number of variables on the left must match the number of elements in the list
print (a, d, e)
print(type(a))

learning with me
<class 'str'>

In [48]:
# you can pack individual elements to a list
tuple1 = a,b,c,d,e
mylist2 = list(tuple1)
print(mylist2)
print(type(mylist2))

['learning', 'is', 'fun', 'with', 'me']
<class 'list'>

In [49]:
tuple1 = a,b,c,d,e
tuple1
type(tuple1)

tuple

## 3. Different ways to access elements of a list
- Since Lists like Strings are of type sequence, and any element within a sequence can be accessed by entrying an index within square brackets. So naturally this must work for Lists as well
- Similarly, if we want to find out the index of a specific item/element, we can use the `index()` method of List class

In [50]:
#You can access elements of list using indexing which starts from zero
list1 = ["class", 30, 5.5, [10,'learning']]
print(list1[3])

#accessing Nested list element
print(list1[0][2])              #accessing third element of string at index 0
print(list1[3][1])              #accessing second element of Nested list

[10, 'learning']
a
learning

In [51]:
#Negative indexing starts looking at the list from the right hand side
list1 = ["class", 30, 5.5, [10,'learning']]
print(list1[-1])                #accessing last element
print(list1[-2])                #accessing second last element

[10, 'learning']
5.5

## 4. Slicing Lists
- Like anyother sequence object we can perform slicing with lists as well.
- Slicing is the process of obtaining a portion of a list by using its indices.
- Given a list, we can use the following template to slice it and obtain a sublist:
```
mylist[start:end:step]
```

- **start** is the index from where we want the sublist to start. If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our sublist to end (not inclusive in the sublist). If end is not provided, slicing goes till the last element of the list.
- **step** is the step through which we want to skip elements in the list. The default step is 1, so we iterate through every element of the list.

In [52]:
list1 = ['a','b','c','d','e','f','g','h','i']
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [53]:
list1[::]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [54]:
list1[3:]

['d', 'e', 'f', 'g', 'h', 'i']

In [55]:
list1[:4]

['a', 'b', 'c', 'd']

In [56]:
list1[2:5]

['c', 'd', 'e']

In [57]:
list1[:-2]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [58]:
list1[-1]

'i'

In [59]:
# Slicing by using strides
list1 = ['a','b','c','d','e','f','g','h','i']
print(list1[::])  # A default step of 1
print(list1[::1])  # A step of 1
print(list1[::2])  # A step of 2
print(list1[::3])  # A step of 3

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
['a', 'c', 'e', 'g', 'i']
['a', 'd', 'g']

In [60]:
# Reverse slicing
list1 = ['a','b','c','d','e','f','g','h','i']
print(list1[::-1]) # Take 1 step back each time
print(list1[5:1:-1]) # Take 1 step back each time
#if start is less than end in case of a negative step, it will return empty string
print(list1[2:10:-1])
print(list1[::-2]) # Take 2 steps back

['i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
['f', 'e', 'd', 'c']
[]
['i', 'g', 'e', 'c', 'a']

Here are some experiments you should try out:

* Try setting one or both indices of the range are larger than the size of the list, e.g., `a_list[2:10]`
* Try setting the start index of the range to be larger than the end index, e.g., `a_list[12:10]`
* Try leaving out the start or end index of a range, e.g., `a_list[2:]` or `a_list[:5]`
* Try using negative indices for the range, e.g., `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

> The flexible and interactive nature of Jupyter notebooks makes them an excellent tool for learning and experimentation. If you are new to Python, you can resolve most questions as soon as they arise simply by typing the code into a cell and executing it. **Let your curiosity run wild, discover what Python is capable of and what it isn't!**

In [61]:
list1 = ['a','b','c','d','e','f','g','h','i']

print(list1[::3])
print(list1[3:6])
print(list1[2:8:-1])
print(list1[-1:-3:-1])

['a', 'd', 'g']
['d', 'e', 'f']
[]
['i', 'h']

## 5. List Concatenation and Repetition

### a. Concatenating Lists
- Like Strings, the `+` operator can be used to concatenate two or more lists

In [62]:
# Add some elements to the end of an existing list using concatenation operator
a = [1,2,3]
b = a + [4,5]
# Add some elements to the beginning of an existing list using concatenation operator
c = [0] + b
a, b, c

([1, 2, 3], [1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5])

In [63]:
# use + operator to concatenate two lists
food_items1 = ['fruits', 'bread', 'veggies'] 
food_items2 = ['meat', 'spices', 'burger']
food = food_items1 + food_items2
print(food)

['fruits', 'bread', 'veggies', 'meat', 'spices', 'burger']

In [64]:
# You can concatenate two heterogeneous lists
list1 = [5, 3.4, 'hello']
list2 = [31, 9.7, 'bye']
list3 = list1 + list2
print(list3)

[5, 3.4, 'hello', 31, 9.7, 'bye']

In [65]:
num1 = [1,2,3]
num2 = num1 + [4, 5, 6, [7, 8]]
print (num2)

[1, 2, 3, 4, 5, 6, [7, 8]]

### b. Replicating Lists
- Like Strings, the `*` operator can be used to repeat or replicate a list multiple times

In [66]:
# use list * n syntax to create large lists by repeating the list n times
name = ['Amna', 'noor', 'warda']
a = name * 3
print(a)

['Amna', 'noor', 'warda', 'Amna', 'noor', 'warda', 'Amna', 'noor', 'warda']

In [67]:
#list of 100 A's
buf = ['A']
newbuf = buf * 100
print(newbuf)

['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A']

## 6. Modifying/Adding elements to a list

- We have worked on different methods of String class in our previous session. Similarly there are several built-in methods of the List class. 
> **Remember, unlike String methods, most methods of List class modify the original List rather than returning a new one.**
- Lists are dynamic, as we write our Python program, we can actually make changes to our already created list, whithout having to go for compiling it again. 
- If we have to add certain elements to an already created list, the original list gorws dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

- We can use a list methods to perform various tasks on a list object and modify it. 
- Some list methods that can be used to alter a list are (append, insert, extend, remove, pop, clear, index, count, sort, reverse, split and join)
- Check out some common list operations here: https://www.w3schools.com/python/python_ref_list.asp .

### a. Modifying/Adding elements to a list using [ ] operator

In [68]:
mylist = ['data science', 'machine learning', 2, 5, 7]
# Let us change the second element of this list
mylist[1] = 'big data'
mylist

['data science', 'big data', 2, 5, 7]

In [69]:
# We can use the slice index to modify multiple list elements in one go
mylist = ['data science', 'machine learning', 2, 5, 7]
mylist[0:2] = ['english', 'urdu'] # Note we are replacing two elements with two elements
mylist

['english', 'urdu', 2, 5, 7]

In [70]:
# We can replace more number of elements with lesser number of elements in a list
mylist = ['data science', 'machine learning', 2, 5, 7]
mylist[0:2] = ['BIG DATA'] # Note we are replacing two elements with one element
mylist

['BIG DATA', 2, 5, 7]

In [71]:
# We can replace one element with more number of elements in a list
mylist = ['data science', 'machine learning', 2, 5, 7]
mylist[0] = ['math', 'stat'] # Note we are replacing one element with two elements
mylist

[['math', 'stat'], 'machine learning', 2, 5, 7]

- Note the elements have been added, but as a sub-list. The first element 'data science' is replaced by a sub-list having two elements 'math' and 'stat'
- If you want the elements to be individually placed in the list do as follows:

In [72]:
mylist = ['data science', 'machine learning', 2, 5, 7]
mylist[0:1] = ['math', 'stat'] # Note we using a slice instead of single index, although it means just zero
mylist

['math', 'stat', 'machine learning', 2, 5, 7]

### b. Adding elements to a list using `list.append(value)` method
- `list.append(value)` method is used when you want to add a single element at the end of the list
- It is passed one argument which is the element to be inserted and returns none/void

In [73]:
list1 = [2, 4, 6, 8]
list1.append(4.631)
list1.append('hello')
list1

[2, 4, 6, 8, 4.631, 'hello']

In [74]:
# You cannot add multiple elements using append
# If you try it will actually add those elements as a sub-list
list1 = [2, 4, 6, 8]
list1.append([4.631, 'hello'])
list1

[2, 4, 6, 8, [4.631, 'hello']]

### c. Adding elements to a list using `list.extend(sublist)` method
- `list.extend(sublist)` method is used when you want to add multiple elements at the end of the list
- It is passed a list to be added at the end and returns none/void

In [75]:
list1 = [2, 4, 6, 8]
list1.extend([4.631, 'hello'])
list1

[2, 4, 6, 8, 4.631, 'hello']

In [76]:
# another example of extend()
fruits = ['apple', 'banana', 'cherry']
vegs = ['potato', 'tomato', 'radish']
fruits.extend(vegs)
fruits

['apple', 'banana', 'cherry', 'potato', 'tomato', 'radish']

### d. Adding elements to a list using `list.insert(index, value)` method
- `list.insert(index, value)` method is used when you want to add an element at a specific location in the list
- It is passed index and value and returns none/void

In [77]:
myfamily = ["shahid", 'abu bakar', 'warda']
print("\nOriginal family list: ", myfamily)
myfamily.insert(2,'me')
print("After insert: ", myfamily)

Original family list:  ['shahid', 'abu bakar', 'warda']
After insert:  ['shahid', 'abu bakar', 'me', 'warda']

In [78]:
# you can insert a sub-list
myfamily = ["Amna", 'me', 'Abu bakar']
myfamily.insert(2,['zainab','shahid'])
myfamily

['Amna', 'me', ['zainab', 'shahid'], 'Abu bakar']

## 7. Removing elements from a list using `list.pop()` and `list.remove()` methods
- Lists are dynamic, as we write our Python program, we can actually make changes to our already created list, whithout having to go for compiling it again. 
- If we have to remove certain elements from an already created list, the original list shrinks dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

### a. Removing element from a List using `list.pop(index)` method
- The `list.pop()` method without any argument removes the last item (right most element) in the list and returns it
- If given an argument/index, will remove that item from list whose index is given and returns it

In [79]:
list1 = ['learning', 'is', 'fun', 'with', 'me']
print("Original list: ", list1)
x  = list1.pop()
print("\nAfter pop(): ", list1)
print("Element popped is: ", x)

Original list:  ['learning', 'is', 'fun', 'with', 'me']

After pop():  ['learning', 'is', 'fun', 'with']
Element popped is:  me

In [80]:
y = list1.pop(2)
print("\nAfter pop(2): ", list1)
print("Element popped is: ", y)

After pop(2):  ['learning', 'is', 'with']
Element popped is:  fun

In [81]:
z = list1.pop(-2)
print("\nAfter pop(-2): ", list1)
print("Element popped is: ", z)

After pop(-2):  ['learning', 'with']
Element popped is:  is

### b. Removing element from a list using `list.remove(val)` method
- The `list.remove(value)` method is used when you want to remove a specific element without returning it
- It is passed exactly one argument, which is the value to be removed and returns none/void
- In case of multiple occurrances, it removes the first occurrence of the element

In [82]:
list2 = ['learning', 'is', 'fun', 'with', 'me', 'yes', 'fun']
print("\nOriginal list: ", list2)

x = list2.remove('fun')

print("After remove('fun'): ", list2)
print("Return value of remove() is: ", x)

Original list:  ['learning', 'is', 'fun', 'with', 'me', 'yes', 'fun']
After remove('fun'):  ['learning', 'is', 'with', 'me', 'yes', 'fun']
Return value of remove() is:  None

### c. Using `list.clear()` method to remove all the list elements

In [83]:
list2 = ['learning', 'is', 'fun', 'with', 'me']
list2.clear()
print("\nAfter clear() the list becomes empty: ", list2)

After clear() the list becomes empty:  []

### d. Using `del` Keyword to delete one or more list items or delete the list entirely from memory

In [84]:
# use del keyword to delete one or more list items by using index or to delete the list entirely from memory
list3 = [1,2,3,4,5,6,7,8,9]
del list3[3:6]
list3

[1, 2, 3, 7, 8, 9]

In [85]:
# use del keyword to delete one or more list items by using index or to delete the list entirely from memory
list3 = [1,2,3,[53, 41, 99, 12], 8,9]
print("\nOriginal list", list3)
del list3[3]
print("After del list1[3] the list becomes", list3)

Original list [1, 2, 3, [53, 41, 99, 12], 8, 9]
After del list1[3] the list becomes [1, 2, 3, 8, 9]

In [86]:
#to delete entire list
mylist = ['learning', 'is', 'fun', 'with', 'me']
del mylist
#mylist

## 1. How to create Tuples?
- A Tuple is created by placing comma separated values in parenthesis (or without prenthesis as well)

In [88]:
t1 = (1, 2, 3, 4, 5)   #tuple of integers
t1 = 1, 2, 3, 4, 5
print("t1: ", t1)

t2 = (2.3, 5.6, 1.8)  #tuple of floats
print("t2: ", t2)

t3 = ('hello', 'this', 'F', 'good show') #tuple of strings
print("t3: ", t3)

t4 = (True, False, True)    # tuple of boolean values
print("t4: ", t4)


print("Type of t4 is: ", type(t4))

t1:  (1, 2, 3, 4, 5)
t2:  (2.3, 5.6, 1.8)
t3:  ('hello', 'this', 'F', 'good show')
t4:  (True, False, True)
Type of t4 is:  <class 'tuple'>

In [89]:
# creating empty tuple
t5 = ()
print("t5: ", t5)

t5:  ()

In [90]:
# to create a tuple with only one element is a bit tricky
t6 = (25,)       # note the comma, without it, Python will take it as int/float/string and not tuple
print("\nt6: ", t6)
print(type(t6))

t6:  (25,)
<class 'tuple'>

In [91]:
# Nested Tuple: a tuple can also have another tuple as an item
t1 = ("class", 30, 5.5, (10,'learning'))
print(t1)

('class', 30, 5.5, (10, 'learning'))

In [92]:
# Nested tuple: A tuple can also have another tuple, or list as an item
t1 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
print("t1: ", t1)
print("Type of t1 is: ", type(t1))

t1:  (1, 'Hello', [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
Type of t1 is:  <class 'tuple'>

## 2. Proof of Concepts:

### a. Tuples are Heterogeneous
- Like Lists, Tuples are heterogeneous, as their elements/items can be of any data type

In [93]:
t1 = ("Amna", 30, 5.5)
print("t1: ", t1)

t1:  ('Amna', 30, 5.5)

### b. Tuples are ordered
- Like Lists Tuples are ordered.
- Tuples are ordered means every element is associated by an index.
- Every time you access tuple elements they will show up in same sequence. 
- Moreover, two tuples having same elements in different order are not same.

In [94]:
a = (1, 2, 3)
b = (2, 3, 1)
id(a), id(b), a is b, a == b

(140577094974784, 140577095192128, False, False)

### c. Tuples are immutable
- Unlike Lists Tuples are immutable
- Means once a tuple object is created, you CANNOT make changes to it and modify its elements

In [95]:
# Tuples are immutable, i.e., tuple elements cannot be changed
numbers = (10, 20, 30)
numbers[2] = 15    # this will generate an error

TypeError: 'tuple' object does not support item assignment

In [96]:
# Tupple however can be reassigned
numbers = (10, 20, 30)
numbers = (1, 2, 3)  # A tupple can be reassigned
numbers

(1, 2, 3)

Remember the tuple object `(10,20,20)` in memory has become an orphan, since the numbers variable is now pointing to another tuple object `(1,2,3)` in memory. The unreferenced tuple object will be garbage collected by Python garbage collector

In [97]:
# A List within a tuple is still mutable
t1 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
t1[2][1] = 'Not OK'         # will work fine
t1

(1, 'Hello', [8, 'Not OK', 6], (1, 2, 'BYE'), 5.5)

### d. Tuples can have duplicate elements

In [98]:
# Like Lists, Tuples allow duplicate elements
names = ('Amna', 'noor', 'hina', 'Amna', 'warda')
print(names)

('Amna', 'noor', 'hina', 'Amna', 'warda')

### e. Tuples can be nested to arbitrary depth
- Like Lists, you can have tuples within tuples and that can be done to an arbitrary depth. You are only restricted to the available memory on your system

In [99]:
# A tuple having two sub-tuples within it
a = (1,2,3,(4,5),(6,7,8,9),10,11)
# A tuple having a sub-tuple, which is further having a sub-tuple and that again having a subtuple
b = (1,2,3,(4,5,(6,7,8,(9,10,11))))
a, b

((1, 2, 3, (4, 5), (6, 7, 8, 9), 10, 11),
 (1, 2, 3, (4, 5, (6, 7, 8, (9, 10, 11)))))

### f. Packing and Unpacking Tuples

In [100]:
# you can unpack tuple elements
t1 = ('learning', 'is', 'fun', 'with', 'me')
a, b, c, d, e = t1 # the number of variables on the left must match the length of tuple
print (a, c, e)
print(type(a))

learning fun me
<class 'str'>

In [101]:
# you can pack individual elements to a tuple
t1 = a,b,c,d,e
print(t1)
print(type(t1))

('learning', 'is', 'fun', 'with', 'me')
<class 'tuple'>

## 3. Different ways to access Elements of a Tuple
- Since Tuple like List is of type Sequence, and any component within a sequence can be accessed by entrying an index within square brackets. So naturally this must work for Tuple as well
- Similarly, if we want to find out the index of a specific item/character, we can use the `index()` method of Tuple class

In [102]:
#You can access elements of tuple using indexing which starts from zero
t1 = ("class", 30, 5.5, (10,'learning'))

print(t1[2])       #accessing element of tuple at index2
print(t1[3])       #accessing element of tuple at index3, which is again a tuple

#accessing Nested tuple element
print(t1[0][2])              #accessing third character of a tuple element at index 0
print(t1[3][1])              #accessing second element of Nested tuple at index 3

5.5
(10, 'learning')
a
learning

In [103]:
#Negative indexing starts looking at the tuple from the right hand side
t1 = ("class", 30, 5.5, (10,'learning'))
print(t1[-1])                #accessing last element
print(t1[-2])                #accessing second last element

(10, 'learning')
5.5

In [105]:
# index(value) method is used when you know the tuple element and wants to get its index
# index(value) method returns the index of the first matched item with its only argument
mytuple = (27, 4.5, 'amna', 64, 'warda', 19, 'amna')
print("\nmytuple: ", mytuple)
print("mytuple.index(3): ", mytuple.index('amna'))

mytuple:  (27, 4.5, 'amna', 64, 'warda', 19, 'amna')
mytuple.index(3):  2

## 4. Slicing Tuples
- Like anyother sequence object we can perform slicing with tuples as well.
- Slicing is the process of obtaining a portion of a tuple by using its indices.
- Given a tuple, we can use the following template to slice it and obtain a sublist:
```
mytuple[start:end:step]
```

- **start** is the index from where we want the subtuple to start.If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our subtuple to end (not inclusive in the subtuple). If end is not provided, slicing goes till the last element of the tuple.
- **step** is the step through which we want to skip elements in the tuple. The default step is 1, so we iterate through every element of the tuple.

In [106]:
t1 = ('a','b','c','d','e','f','g','h','i')
t1

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

In [107]:
t1[::]

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

In [108]:
t1[3:]

('d', 'e', 'f', 'g', 'h', 'i')

In [109]:
t1[:4]

('a', 'b', 'c', 'd')

In [110]:
t1[2:5]

('c', 'd', 'e')

In [111]:
t1[:-2]

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [112]:
t1[-1]

'i'

In [113]:
# Slicing by using strides
print(t1[::])  # A default step of 1
print(t1[::1])  # A step of 1
print(t1[::2])  # A step of 2
print(t1[::3])  # A step of 3

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')
('a', 'c', 'e', 'g', 'i')
('a', 'd', 'g')

In [114]:
# Reverse slicing
print(t1[::-1]) # Take 1 step back each time
print(t1[5:1:-1]) # Take 1 step back each time
#if start is less than end in case of a negative step, it will return empty string
print(t1[2:10:-1])
print(t1[::-2]) # Take 2 steps back

('i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')
('f', 'e', 'd', 'c')
()
('i', 'g', 'e', 'c', 'a')

In [115]:
# You CANNOT use slice operator on the left side of assignment as tuple is immutable
t1 = (1, 2, 3, 4, 5, 6, 7)
#t1[2:4] = ['a', 'b', 'c']  # will generate an error as 'tuple' object does not support item assignment

## 5. Tuple Concatenation and Repetition
- The `+` operator is used to concatenate two or more tuples
- The `*` operator is used to repeat or replicate

### a. Concatenating Tuples

In [118]:
# Add some elements to the end of an existing tuple using concatenation operator
a = (1,2,3)
b = a + (4,5)
# Add some elements to the beginning of an existing tuple using concatenation operator
c = (0,) + b
a, b, c

((1, 2, 3), (1, 2, 3, 4, 5), (0, 1, 2, 3, 4, 5))

In [119]:
# use + operator to concatenate two tuples
food_items1 = ('fruits', 'bread', 'veggies')
food_items2 = ('meat', 'spices', 'burger')
food = food_items1 + food_items2
print(food)

('fruits', 'bread', 'veggies', 'meat', 'spices', 'burger')

In [120]:
# You can concatenate two heterogeneous tuples
t1 = (5, 3.4, 'hello')
t2 = (31, 9.7, 'bye')
t3 = t1 + t2
print(t3)

(5, 3.4, 'hello', 31, 9.7, 'bye')

In [121]:
num1 = (1,2,3)
num2 = num1 + (4, 5, 6, (7, 8))
print (num2)

(1, 2, 3, 4, 5, 6, (7, 8))

In [122]:
# use tuple * n syntax to create large tuples by repeating the tuple n times
name = ('Amna', 'abu bakar', 'warda')
a = name * 3
print(a)

('Amna', 'abu bakar', 'warda', 'Amna', 'abu bakar', 'warda', 'Amna', 'abu bakar', 'warda')

In [123]:
#tuple of 100 A's
buf = ('A',)
newbuf = buf * 100
print(newbuf)
type(newbuf)

('A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A')

tuple

## 6. Being immutable, you cannot add elements to a tuple (in list this is possible using `append`, `extend`, and `insert`)

In [124]:
myfamily = ("shahid", 'warda', 'abu bakar')
print("\n myfamily tuple: ", myfamily)
myfamily.insert(2,'me') # will generate an error as tuple object has no attribute 'insert'

 myfamily tuple:  ('shahid', 'warda', 'abu bakar')

AttributeError: 'tuple' object has no attribute 'insert'

## 7. Being immutable, you cannot remove elements from a tuple (in list this is possible using `pop` and `remove` methods)

In [131]:
tuple1 = ('learning', 'is', 'fun', 'with', 'me')

#You cannot delete items from a tuple using del keyword
#del tuple1[3]    # will generate an error as tuple object doesn't support item deletion

# However, you can assign a new tuple object to the reference tuple1
tuple1 = (1, 2, 3, 'me')
# However, you can delete an entire tuple object using del keyword
#del tuple1
#print(tuple1)

## 8. Converting String object to List/Tuple and vice-versa

### a. Type Casting

In [132]:
# convert a string into tuple using tuple()
str1 = 'Learning is fun'    #this is a string

print("Original string: ", str1, "and its type is:  ", type(str1))
t1 = tuple(str1)
print("t1: ", t1, "and its type is:  ", type(t1))

Original string:  Learning is fun and its type is:   <class 'str'>
t1:  ('L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'f', 'u', 'n') and its type is:   <class 'tuple'>

### b. Use `str.split()` to Split a Tuple into Strings
- Used to tokenize a string based on some delimiter, which can be stored in a tuple
- It returns a list, so we need to type cast the returned object to a tuple

In [133]:
str1 = 'Learning is fun'    #this is a string
t1 = tuple(str1.split(' ')) # The split() method returns a list, which you can typecast to a tuple
print(t1)
print(type(t1))

('Learning', 'is', 'fun')
<class 'tuple'>

In [134]:
str2 = "Data Science is GR8 Degree"    #this is a string
t2 = tuple(str2.split('c'))
print(t2)
print(type(t2))

('Data S', 'ien', 'e is GR8 Degree')
<class 'tuple'>

### c. Use `str.join()` to Join Strings into a Tuple
- The `str.join()` is the reverse of split() method, and is used to joing multiple strings by inserting the string in between on which this method is called
- Remember, you can pass any iterable as argument to `str.join()` method

In [135]:
t1 = ('This', 'is', 'getting', 'more', 'and', 'more', 'interesting')
t1

('This', 'is', 'getting', 'more', 'and', 'more', 'interesting')

In [136]:
str2 = ' '.join(t1)
str2, type(str2)

('This is getting more and more interesting', str)

## 10. Sorting a Tuple
- Pythonâ€™s built-in `sorted()` function can be used to sort iterable objects, such as lists, tuples, and dictionaries. - We have seen its usage in our Tuple session.
- The `sorted()` function sorts the items of the specified iterable object and creates a new object with the newly sorted values.
- It's syntax is as shown below:
```
    sorted(object, key=None, reverse=False)
```
- Where:
    - `object`: the iterable object that you want to sort (required)
    - `key`: the function that allows you to perform custom sort operations (optional)
    - `reverse`: specifies whether the object should be sorted in descending order (optional)- default value is False

In [137]:
# Sorting a Dictionary by it values with numeric values

t1 = (3, 8, 1, 6, 0, 8, 4)

print("Original Tuple = ", t1)


list1 = sorted(t1)
list2 = sorted(t1, reverse=True)

print("Ascending Sort: ", list1)
print("Descending Sort: ", list2)

Original Tuple =  (3, 8, 1, 6, 0, 8, 4)
Ascending Sort:  [0, 1, 3, 4, 6, 8, 8]
Descending Sort:  [8, 8, 6, 4, 3, 1, 0]

In [138]:
# Sorting a tuple with string values

t1 = ("XYZ", "ABC", "MNO", "DEF")
print("Original Tuple: ", t1)

list1 = sorted(t1)
list2 = sorted(t1, reverse=True)

print("Ascending Sort: ", list1)
print("Descending Sort: ", list2)

Original Tuple:  ('XYZ', 'ABC', 'MNO', 'DEF')
Ascending Sort:  ['ABC', 'DEF', 'MNO', 'XYZ']
Descending Sort:  ['XYZ', 'MNO', 'DEF', 'ABC']