## _Python-Sets

> **A Set is an unordered and unindexed collection of heterogeneous items that is iterable, mutable and has no duplicate elements.**

- Like Lists, a set is created by placing comma separated values, but in curly brackets rather square brackets. 
- Like List, a set also allows us to store elements of different data types in one container.
- Like List, it is possible to add, remove, or modify values in a set.
- Any immutable data type can be an element of a set: a number, a string, a tuple. Mutable data types cannot be elements of the set.
- To be honest, this data structure is extremely useful and is underutilized by beginners, so try to keep it in mind!
- The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for membership testing and eliminating duplicate entries

## 1. How to create Sets?
- A set is created by placing comma separated values in curly brackets `{}`. 
- The preferred of creating a set is by using `set()` method, and passing a list to it, as curly brackets are also used by dictionary object in Python.

In [2]:
s1 = {1,2,3,4,5}   #set of integers
s1 = set([1, 2, 3, 4, 5])
s1, type(s1)

({1, 2, 3, 4, 5}, set)

In [3]:
s2 = {3.7, 6.5, 3.8, 7.95}   #set of floats
s2 = set([3.7, 6.5, 3.8, 7.95])
print(s2)

{3.8, 3.7, 6.5, 7.95}

In [4]:
s3 = {"hello", "this", "F", "good show"}   #set of strings
s3 = set(["hello", "this", "F", "good show"])
print(s3)

{'hello', 'F', 'good show', 'this'}

In [5]:
s4 = {True, False, True, True, False}   #set of boolean
s4 = set([True, False, True, True, False])
print(s4)

{False, True}

In [6]:
# creating an empty set
#emptyset = {}  # this is not correct way

# to create empty set, we can use set()
s5 = set()
print(s5)
print(type(s5))

set()
<class 'set'>

## 2. Proof of concepts: Sets are heterogeneous, unordered, mutable, nested, and does not allow duplicate elements

### a. Sets are heterogeneous
- Sets are heterogeneous, as their elements/items can be of any data type

In [7]:
s1 = {"Abc", 30, 5.5}
print("s1: ", s1)

s1:  {'Abc', 5.5, 30}

### b. Sets are unordered
- Sets are unordered means elements of a set are NOT associated by any index
- When you access set elements they may show up in different sequence. 
- Moreover, two sets having same elements in different order 
    - have different memory addresses
    - the `is` operator compares the memory adresses
    - the `==` operator compares the contents

In [9]:
s2 = set(['learning', 'is', 'fun', 'with', 'me'])
print(s2)

{'is', 'me', 'with', 'learning', 'fun'}

In [10]:
a = {1, 2, 3}
b = {2, 3, 1}
id(a), id(b), a == b, a is b

(140647164078784, 140647164079456, True, False)

### c. Sets are mutable
- Yes, Python sets are mutable because the set itself may be modified, but the elements contained in the set must be of an immutable type.
- However, since sets cannot be indexed, so we can't change them using index withing subscript operator

In [11]:
numbers = set([10, 20, 30, 40, 50])
#numbers[2] = 15   # Will flag an error because set elements cannot be indxed using ubscript operator

print("numbers: ", numbers)

numbers:  {40, 10, 50, 20, 30}

### d. Sets CANNOT have duplicate elements

In [12]:
# Sets do not allow duplicate elements
# The following line will not raise an error, however, 'Arif' will be added to the set only once
names = {'Arif', 'Rauf', 'Hadeed', 'Arif', 'Mujahid'}
print(names)

{'Hadeed', 'Arif', 'Rauf', 'Mujahid'}

In [13]:
# So when we want to remove duplication from list, we typecast it to a set
mylist = [2, 4, 5, 6, 8, 7, 3, 3, 2]
print("\nList: ", mylist)
myset = set(mylist)
print("List converted to set: ", myset)

List:  [2, 4, 5, 6, 8, 7, 3, 3, 2]
List converted to set:  {2, 3, 4, 5, 6, 7, 8}

### e. Mutable data types cannot be elements of the set.

In [14]:
# You can have a number, string, and tuple type of elements inside a set (being immutable)
s1 = {"Arif", 30, 5.5, True, (10,'rauf')}

In [15]:
# You cannot have a list, set or dictionary inside a set (being mutable)
#s1 = {"Arif", 30, 5.5, [10,'rauf']}

In [16]:
# You cannot have a list, set or dictionary inside a set (being mutable)
#s1 = {"Arif", 30, 5.5, {10,'rauf'}}

In [17]:
# You cannot have a list, set or dictionary inside a set (being mutable)
#s1 = {"Arif", 30, 5.5, {'key':'value'}}

### e. Nested Sets
- You can have tuple inside a set
- However, you CANNOT have a list, set, and dictionary objects inside a set, because sets cannot contain mutable values
- This is one situation where you may wish to use a frozenset, which is very similar to a set except that a frozenset is immutable.

In [18]:
# Nested sets: sets can have another tuple as an item
s1 = {"Arif", 30, 5.5, (10,'rauf')}
print(s1)

{'Arif', (10, 'rauf'), 5.5, 30}

In [19]:
# However, you cannot have a list inside a set, , because sets cannot contain mutable values (lists are mutable)
#s1 = {"Arif", 30, 5.5, [10,'rauf']} # Error unhashable type list

In [20]:
#Similarly, you cannot have a set within a set, because sets cannot contain mutable values (sets are mutable)
#s1 = {"Arif", 30, 5.5, {10,'rauf'}} # Error unhashable type set

### f. Packing and Unpacking Sets

In [142]:
# you can unpack set elements
myset = set(['learning', 'is', 'fun', 'with', 'me'])
print(myset)
a, b, c, d, e = myset # the number of variables on the left must match the length of set
print (a, b, c, d, e)

{'is', 'me', 'with', 'learning', 'fun'}
is me with learning fun

**Note the randomness, because sets are unordered**

In [143]:
# you can pack individual elements to a set
t1 = a, b, c, d, e  # By default they are packed into a tuple
set2 = set(t1)      # So you have to type cast it to set
print (set2)
print(type(set2))

{'is', 'with', 'me', 'learning', 'fun'}
<class 'set'>

## 3. Different ways to access elements of a Set
- Since sets are unordered, i.e., items of a set have no associated index, therefore elements of a Set cannot be accessed by referring to an index
- However, you can access individual set elements using a for loop
- Ask if a specified value is present in a set, by using the `in` operator.

In [144]:
# Set items cannot be accessed by referring to an index, since sets are unordered the items has no index. 
myset = set(['learning', 'is', 'fun', 'with', 'me'])
myset = {'learning', 'is', 'fun', 'with', 'me'}
print("myset: ", myset)

myset:  {'is', 'with', 'me', 'learning', 'fun'}

In [145]:
# But you can loop through the set items using a for loop
myset = set(['learning', 'is', 'fun', 'with', 'me'])
for i in myset:
    print(i, end=' ')

is me with learning fun

In [146]:
# To check if a specific element is there in the set, use the in keyword
rv = 'fun' in myset
rv

True

## 4. You cannot perform Slicing on Sets
- Slicing is the process of obtaining a portion of a sequence by using its indices.
- Since no indices are associated with Set elements, so they do not support slicing or indexing in `[ ]` operator

## 5. You cannot perform Set Concatenation and Repetition
- The concatenation operator `+` and replication operator `*` does not work on sets, as there is no index associated with set elements. So concatenation and repetition using `+` and `*` operator doesnot make any sense

## 6. Adding elements to a Set
- Sets are dynamic, as we write our Python program, we can actually make changes to our already created set, whithout having to go for compiling it again. 
- If we have to add certain elements to an already created set, the original set gorws dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

### a. Cannot Modify/Add elements to a set using [ ] operator

### b. Adding elements to a set using `set.add(value)` method
- The `set.add(val)` method is used to add an element to a set
- Only one element at a time can be added to the set by using `set.add()` method
- Lists and sets cannot be added to a set as elements because they are mutable (hashable)
- Tuples can be added because tuples are immutable and hence Hashable.

In [26]:
#create an empty set
set1 = set()
set1.add(25)
set1.add(73)
set1

{25, 73}

In [27]:
# Adding an existing element
set1.add(25)
set1

{25, 73}

In [28]:
# Adding a tuple
set1.add((19,25))
print("Set after adding three elements: ", set1)

Set after adding three elements:  {73, 25, (19, 25)}

### c. Adding elements to a set using `set.add(val)` or `set.update(val)` method
- The `set.add(val)` method is used to add a single element to a set
- The `set.update(val)` method is used to add two or more elements to a set
- If the value already exist no change occur
- Lists and sets cannot be added to a set as elements because they are not hashable 
- Tuples can be added because tuples are immutable and hence Hashable.

In [29]:
# add() method is used to add a single element, passed as a list
set1 = set([4, 9, 12])
set1.add(99)
set1.add(4) # Note the duplicate element 4 will not be added twice
set1

{4, 9, 12, 99}

In [30]:
# update() method is used to add one, two or more elements, passed as a list
set1 = set([4, 9, 12])
set1.update([99])
set1.update([4, 3.5]) # Note the duplicate element 4 will not be added twice
set1

{3.5, 4, 9, 12, 99}

In [31]:
# update() method is used to add one two or more elements, passed as a list
set3 = set([4, 9, 12])
set3.update(['arif', 'rauf', 45])
set3

{12, 4, 45, 9, 'arif', 'rauf'}

In [32]:
# You cannot add a single numeric value being not iterable
set2 = set([4, 9, 12])
#set2.update(33)
set2

{4, 9, 12}

In [33]:
# See what happens when you add a string 
set2 = set([4, 9, 12])
set2.update('arif')
set2

{12, 4, 9, 'a', 'f', 'i', 'r'}

In [34]:
# the update() method also accepts a list having one or more tuples as its argument
set4 = set([4, 9, 12])
set4.update([(99, 88), (44, 33)])
set4

{(44, 33), (99, 88), 12, 4, 9}

## 7. Removing elements from a set
- Sets are dynamic, as we write our Python program, we can actually make changes to our already created sets, whithout having to go for compiling it again. 
- If we have to remove certain elements from an already created set, the original set shrinks dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

### a. Removing element from a set using `set.pop(index)` method
- The `set.pop()` method removes and return an arbitrary set element

In [35]:
s1 = {'learning', 'is', 'fun', 'with', 'arif', 'butt'}
print("Original set: ", s1)

x  = s1.pop()
print("Element popped is: ", x)
print("Set now is: ", s1)

Original set:  {'is', 'arif', 'with', 'learning', 'butt', 'fun'}
Element popped is:  is
Set now is:  {'arif', 'with', 'learning', 'butt', 'fun'}

### b. Removing element from a set using `set.remove(val)` method
- The `set.remove(val)` method is used to remove a specific element by value from a set without returning it
- The remove method is passed exactly one argument, which is the value to be removed and returns none/void

In [36]:
s2 = set(['Welcome', 'to', 'department', 'of', 'Data', 'Science'])
print("\nOriginal set: ", s2)
x = s2.remove('department')
print("After remove('department'): ", s2)
print("Return value of remove() is: ", x)

# If the element to be removed does not exist in the set remove() method will flag an error
#y = s2.remove('arif')  # Error: Element doesn’t exist in the set.

Original set:  {'department', 'Science', 'to', 'Data', 'Welcome', 'of'}
After remove('department'):  {'Science', 'to', 'Data', 'Welcome', 'of'}
Return value of remove() is:  None

### c. Removing element from a set using `set.discard(val)` method
- The `set.discard(val)` like `set.remove(val)` method is used to remove a specific element by value from a set without returning it
- The advantage of using `set.discard(val)` method is that, if the element doesn’t exist in the set, no error is raised and the set remains unchanged.

In [37]:
s2 = set(['Welcome', 'to', 'department', 'of', 'Data', 'Science'])
y = s2.discard('arif')
s2

{'Data', 'Science', 'Welcome', 'department', 'of', 'to'}

### d. Using `set.clear()` method to remove all the set elements

In [38]:
#use the clear() method to empty a set
s2 = set(['Welcome', 'to', 'department', 'of', 'Data', 'Science'])
s2

{'Data', 'Science', 'Welcome', 'department', 'of', 'to'}

In [39]:
s2.clear()
s2

set()

### e. Using `del` Keyword to delete the set entirely from memory

In [40]:
# use del keyword to delete entire set, (you cannot delete a specific element as it is non-indexed)
s2 = set(['Welcome', 'to', 'department', 'of', 'Data', 'Science'])
s2

{'Data', 'Science', 'Welcome', 'department', 'of', 'to'}

In [41]:
del s2
#print(s2)

## 8. Converting string object to set and vice-versa (using type casting, split() and join())

### a. Type Casting

In [42]:
# convert a string into set using set()
str1 = 'Learning is fun'    #this is a string
print("Original string: ", str1)

s1 = set(str1)
print("s1: ", s1, "and its type is:  ", type(s1))

Original string:  Learning is fun
s1:  {' ', 'g', 'r', 'e', 'i', 'u', 'L', 'f', 's', 'a', 'n'} and its type is:   <class 'set'>

### b. Use `str.split()` to Split a Tuple into Strings
- Used to tokenize a string based on some delimiter, which can be stored in a Tuple
- It returns a list having tokens of the string based on spaces if no argument is passed

In [43]:
str1 = 'Learning is fun'    #this is a string
set1 = set(str1.split(' '))
print(set1)
print(type(set1))

{'Learning', 'is', 'fun'}
<class 'set'>

In [44]:
str2 = "Data Science is GR8 Degree"    #this is a string
set2 = set(str2.split('c'))
set2

{'Data S', 'e is GR8 Degree', 'ien'}

In [45]:
tuple1 = {'This', 'is', 'getting', 'more', 'and', 'more', 'interesting'}
tuple1

{'This', 'and', 'getting', 'interesting', 'is', 'more'}

In [46]:
str2 = ' '.join(tuple1)
print(str2)
print(type(str2))

getting more is interesting and This
<class 'str'>

In [47]:
delimiter = " # "
str3 = delimiter.join(tuple1)
print(str3)
print(type(str3))

getting # more # is # interesting # and # This
<class 'str'>

## 9. Elements of a Set Cannot be Sorted
- Given that sets are unordered, it is not possible to sort the values of a set. So you cannot call the built-in function `sorted()` or the `list.sort()` method on sets

## 10.  Misc Concepts

**Like Lists and Tuples, you can apply `max()`, `min()`, and `sum()` functions on Sets with numeric elements**

In [48]:
s1 = set([3, 8, 1, 6, 0, 8, 4])

print("length of set: ", len(s1))
print("max element in set: ", max(s1))
print("min element in list: ",min(s1))
print("Sum of element in list: ",sum(s1))

length of set:  6
max element in set:  8
min element in list:  0
Sum of element in list:  22

**Like Lists and Tuples, you can apply `in` and `not in` membership operators on Sets**

In [49]:
s1 = set([3, 8, 1, 6, 0, 8, 4])

rv1 = 9 in s1
print(rv1)

rv2 = 9 not in s1
print(rv2)


s2 = set(["XYZ", "ABC", "MNO", "ARIF"])
rv3 = "ARIF" in s2
print(rv3)

False
True
True

**Comparing Objects and Values**

In [51]:
#In case of strings, both variables str1 and str2 refers to the same memory location containing string object 'hello'
str1 = 'hello'
str2 = 'hello'
print(id(str1), id(str2))

print (str1 is str2)  # is operator is checking the memory address (ID) of two strings
print (str1 == str2)  # == operator is checking the contents of two strings

140647158276144 140647158276144
True
True

In [52]:
#In case of sets, both t1 and t2 refers to two different objects in the memory having same values
s1 = set([1, 2, 3])
s2 = set([1, 2, 3])
print(id(s1), id(s2))

print (s1 is s2)   # is operator is checking the memory address (ID) of two sets
print (s1 == s2)   # == operator is checking the contents of two sets element by element

140647164422848 140647164457024
False
True

## 11. Special Operations  related to Sets

### a. Union of sets
- A `s1.union(s2)` method or `s1 | s2`, returns a new set containing all values that are in s1, or s2, or both

In [53]:
s1 = set()
s2 = set()
#help(s1 | s2)
help(s1.union)

Help on built-in function union:

union(...) method of builtins.set instance
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [54]:
set1 = {'arif', 'rauf'}
set2 = {'maaz', 'hadeed', 'arif'}

set3 = set1 | set2
set3 = set1.union(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 | set2: ", set3)

set1:  {'arif', 'rauf'}
set2:  {'maaz', 'arif', 'hadeed'}
set1 | set2:  {'maaz', 'hadeed', 'arif', 'rauf'}

### b. Intersection of sets
- A `s1.intersection(s2)` method or `s1 & s2`, returns a new set containing all values that are common in in s1 and s2

In [55]:
set1 = {'arif', 'rauf'}
set2 = {'maaz', 'hadeed', 'arif'}

set3 = set1 & set2
set4 = set1.intersection(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 & set2: ", set4)

set1:  {'arif', 'rauf'}
set2:  {'maaz', 'arif', 'hadeed'}
set1 & set2:  {'arif'}

### c. Difference of sets
- A `s1.difference(s2)` method or `s1 - s2`, returns a new set containing all values of s1 that are not there in s2

In [56]:
set1 = {'arif', 'rauf'}
set2 = {'maaz', 'hadeed', 'arif'}

set3 = set1 - set2
set4 = set1.difference(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 - set2: ", set4)

set1:  {'arif', 'rauf'}
set2:  {'maaz', 'arif', 'hadeed'}
set1 - set2:  {'rauf'}

### d. Symmetric Difference of sets
- A `s1.symmetric_difference(s2)` method or `s1 ^ s2`, returns a new set containing all elements that are in exactly one of the sets, equivalent to `(s1 | s2)  - (s1 & s2)`

In [57]:
set1 = {'arif', 'rauf'}
set2 = {'maaz', 'hadeed', 'arif'}

set3 = set1 ^ set2
set4 = set1.symmetric_difference(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 ^ set2: ", set4)

set1:  {'arif', 'rauf'}
set2:  {'maaz', 'arif', 'hadeed'}
set1 ^ set2:  {'maaz', 'hadeed', 'rauf'}

### e. Checking Subset
- The `s1.issubset(s2)` method or `s1 <= s2`, returns True if s1 is a subset of s2

In [58]:
s1 = {1,2,3,4,5,6,7}
s2 = {1,2,3,4}

print(s1.issubset(s2))     # is s2 a subset of s1
print(s1 <= s2)            # is s2 a subset of s1

False
False

### f. Checking Superset
- The `s1.issuperset(s2)` method or `s1 >= s2`, returns True if s1 is a superset of s2

In [59]:
s1 = {1,2,3,4,5,6,7}
s2 = {1,2,3,4}

print(s1.issuperset(s2)) # is s1 a superset of s2
print(s1 >= s2)          # is s1 a superset of s2

True
True

### g. Checking Disjoint
- The `s1.isdisjoint(s2)` method, returns True if two sets have a null intersection

In [60]:
s1 = {1,2,3,4,5,6,7}
s2 = {1,2,3,4}
print(s1.isdisjoint(s2))

# Another example
s3 = {1,2,3,4}
s4 = {5,6,7,8}
print(s3.isdisjoint(s4))

False
True

## Motivation to use Dictionary

In [61]:
students = ['rauf', 'arif', 'maaz', 'hadeed', 'mujahid']
marks = [81, 52, 70, 74, 78]

In [62]:
def get_marks(name):
    i = students.index(name)
    return marks[i]

In [63]:
get_marks('hadeed')

74

In [64]:
get_marks('maaz')

70

## 1. How to create Dictionaries?
- A Dictionary object  is created by placing comma separated `key:value` pairs in curly braces.
- The keys of a dictionary has to be unique and can be of heterogeneous immutable types only (int, string or tuple).
- The values can be duplicated and can be of heterogeneous types (mutable + immutable).

In [65]:
# A dictionary with string keys, and integer values, showing age of person
dict1 = {
    'arif':51, 
    'rauf':52, 
    'hadeed':22
}
print(dict1)
print(type(dict1))
print(id(dict1))

{'arif': 51, 'rauf': 52, 'hadeed': 22}
<class 'dict'>
140647164333568

In [66]:
# A dictionary with integer keys, and string values, showing a symbol table generated by compiler
dict2 = {
    2580:'var1', 
    2582:'var2', 
    2586:'var3'
}
dict2

{2580: 'var1', 2582: 'var2', 2586: 'var3'}

In [67]:
# dictionary with mixed keys (immutable types only)
dict3 = {
    'name': 'kakamanna', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
dict3

{'name': 'kakamanna', 1: 10, 'abc': 25, 33: 'xyz'}

In [68]:
# creating dictionary using dict() method
dict4 = dict({1: 'hello', 2: 'bye'})
dict4

{1: 'hello', 2: 'bye'}

In [69]:
# Creating an empty dictionary
dict5 = dict()
dict5

{}

In [70]:
# other way to create empty dictionary
dict6 = {}
dict6

{}

In [71]:
# A list of two object tuples can also be used to create dictionaries
dict7 = dict([('name', 'arif'), ('age',51), ('city', 'Lahore')])
dict7

{'name': 'arif', 'age': 51, 'city': 'Lahore'}

## 2. Proof of concepts

### a. Dictionary allows Duplicate Values

In [72]:
# Duplicate values are allowed
d1 = {'name1' : 'kakamanna',
     'name2' : 'kakamanna'
     }
d1

{'name1': 'kakamanna', 'name2': 'kakamanna'}

### b. Dictionary DOESNOT allows Duplicate Keys

In [73]:
# Duplicate keys are not allowed
# This will not raise an error, but will overwrite the value corresponding to the key
d1 = {'name' : 'kakamanna',
     'name' : 'arif'
     }
d1

{'name': 'arif'}

### c. Keys inside Dictionaries Must be of Immutable data types
- The keys of a dictionary has to be of immutable data type (number, string, tuple)

In [74]:
# Tuple being immutable can be used as a key
d1 = {'kakamanna':'name', 
      (60, 78, 83): 'marks' 
     }
d1

{'kakamanna': 'name', (60, 78, 83): 'marks'}

In [75]:
# List being mutable cannot be used as a key
d1 = {'kakamanna':'name', 
      [60, 78, 83]:'marks' 
     }
d1

TypeError: unhashable type: 'list'

### d. Values inside Dictionaies can be of mutable/immutable data type

In [76]:
# List being mutable can be used as a value
d1 = {'nam':'kakamanna', 
      'marks':[60,78,83] 
     }
d1

{'nam': 'kakamanna', 'marks': [60, 78, 83]}

In [77]:
# Tuple being immutable can also be used as a value
d1 = {'nam':'kakamanna', 
      'marks': (60,78,83) 
     }
d1

{'nam': 'kakamanna', 'marks': (60, 78, 83)}

### e. Dictionaries are heterogeneous
- The keys of a dictionary can be of integer, string, or tuple type
- The values of a dictionary can be of any data type

In [78]:
dict3 = {
    'name': 'kakamanna', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
dict3

{'name': 'kakamanna', 1: 10, 'abc': 25, 33: 'xyz'}

### f. Dictionaries can be nested to arbitrary depth

In [79]:
# Creating a Nested Dictionary
dict7 = {'name':'arif', 
         'occupation':'teaching',
        'address':{'house#' : 131, 'area' : 'model town', 'city' : 'lahore'},
         'phone': '03214456454'
        }
 
dict7

{'name': 'arif',
 'occupation': 'teaching',
 'address': {'house#': 131, 'area': 'model town', 'city': 'lahore'},
 'phone': '03214456454'}

### g. Dictionaries from Python 3.7 onward are ordered
- From Python 3.7 onwards, dictionaries are guranteed to be in insertion ordered. i.e., every time you access dictionary elements they will show up in same sequence. 
- However, like string, list, and tuple, the elements of a dictionary are not associated by an index
- Moreover, two dictionaries having same key-value pairs are two different objects

In [80]:
d1 = {
    'arif':51, 
    'rauf':52, 
    'hadeed':20
}
d1
d2 = {
    'arif':51, 
    'rauf':52, 
    'hadeed':20
}
d2
d3 = {
    'rauf':52, 
    'hadeed':20,
    'arif':51
}
id(d1), id(d2), id(d3)

(140647164308992, 140647164201088, 140647164316096)

## 3. Accessing Elements of a Dictionary

### a. Retrieving a `value`of a Dictionary given a `key`
- Given a key, you can retrieve corresponding value from a dictionary using two ways:
    - Use key inside `[]` operator
    - Pass the key as argument to `dict.get(key)` method

In [81]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}

In [82]:
d1['address']

'Johar Town'

In [83]:
d1.get('marks')

[60, 75, 80]

**To retrieve a value from a nested dictionary**

In [84]:
d2 = {'name':'arif', 
      'occupation':'teaching',
      'address':{'house#' : 131, 
                 'area' : 'model town', 
                 'city' : 'lahore'
                }
        }
d2

{'name': 'arif',
 'occupation': 'teaching',
 'address': {'house#': 131, 'area': 'model town', 'city': 'lahore'}}

In [85]:
d2['address']

{'house#': 131, 'area': 'model town', 'city': 'lahore'}

In [86]:
d2['address']['city']

'lahore'

In [87]:
d2.get('address')

{'house#': 131, 'area': 'model town', 'city': 'lahore'}

In [88]:
d2.get('address').get('city')

'lahore'

### c. Retrieving all `key:value` pairs from a Dictionary using `dict.items()`  method
- The `dict.items()` method returns all the key-value pairs of a dictionary as a two object tuple

In [89]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}

In [90]:
l1 = d1.items()
l1

dict_items([('name', 'kakamanna'), ('age', 22), ('address', 'Johar Town'), ('marks', [60, 75, 80])])

### d. Retrieving all `keys` of a Dictionary using `dict.keys()`  method
- The `dict.keys()` method returns all the keys  of a dictionary object

In [91]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}

In [92]:
d1.keys()

dict_keys(['name', 'age', 'address', 'marks'])

### e. Retrieving all `values` from a Dictionary using `dict.values()`  method
- The `dict.values()` method returns all the values  of a dict object
- If a value occurs multiple times in the dictionary, it will appear that many times

In [93]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}

In [94]:
d1.values()

dict_values(['kakamanna', 22, 'Johar Town', [60, 75, 80]])

## 4. Adding/Modifying Elements of a Dictionary

### a. Adding/Modifying Elements using `[]` Operator
- You can  modify value associated with a key using `[]` operator and assignment statement
```
dict[key] = value
```
- If the key donot already exist, a new key:value is inserted in the dictionary

In [95]:
# Create a simple dictionary
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [96]:
# Modify value corresponding to an existing key
d1['address'] = 'Model Town'
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Model Town',
 'marks': [60, 75, 80]}

In [97]:
# Adding a new key:value pair
d1['key1'] = 'value1'
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Model Town',
 'marks': [60, 75, 80],
 'key1': 'value1'}

### b. Modifying Elements using `d1.update()` method 
- The `d1.update()` method is used to update the value corresponding to an existing key inside the dictionary
```
dict.update(key:value)
```
- If the key donot already exist, a new key:value is inserted in the dictionary

In [98]:
# Create a simple dictionary
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [99]:
# Modify value corresponding to an existing key
d1.update({'name':'Arif Butt'})
d1

{'name': 'Arif Butt',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [100]:
# Adding a new key:value pair
d1.update({'key2':'value2'})
d1

{'name': 'Arif Butt',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80],
 'key2': 'value2'}

**You can use the `dict.update()` method to merge two dictionaries**

In [101]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
}

d2 = {
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}

In [102]:
d1.update(d2)
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

## 5. Removing Elements from a Dictionary

### a. Removing Element using `[]` operator
- To delete a dictionary element use the `del d1[key]` 
- To delete an entire dictionary from memory use `del d1`

In [104]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [105]:
del d1['age']
d1

{'name': 'kakamanna', 'address': 'Johar Town', 'marks': [60, 75, 80]}

In [106]:
#this will delete the whole directory
del d1
print(d1)  # will generate an error now

NameError: name 'd1' is not defined

### b. Removing Element using `d1.popitem()` Method
- The `d1.popitem()` removes and returns a (key,value) pair as a 2-tuple
- Pairs are returned in LIFO order, i.e., last inserted element is returned
- Raises KeyError if the dict is empty

In [107]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [108]:
d1.popitem()

('marks', [60, 75, 80])

In [109]:
d1.popitem()

('address', 'Johar Town')

In [110]:
d1

{'name': 'kakamanna', 'age': 22}

### c. Removing Element using `d1.pop(key)` Method
- The `d1.pop(key)` returns the value only of the key passed as its required argument
- Moreover, the corresponding key-value pair is also removed from the dictionary
- If key is not found a KeyError is raised

In [111]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [112]:
d1.pop('name')

'kakamanna'

In [113]:
d1

{'age': 22, 'address': 'Johar Town', 'marks': [60, 75, 80]}

In [ ]:
#d1.pop('nokey') #This will raise an error

### d. Removing Element using `d1.clear()` Method
- The `d1.clear()` removes all items from the dictionary and returns None

In [115]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [116]:
d1.clear()

In [117]:
d1

{}

## 6. Dictionary, Tuple and List conversions

In [118]:
# Create a simple dictionary for these operations
d1 = {
    'Name': 'Kakamanna', 
    'Sex': 'Male', 
    'Age': 23, 
    'Height': 6.1, 
    'Occupation': 'Student'
}
d1

{'Name': 'Kakamanna',
 'Sex': 'Male',
 'Age': 23,
 'Height': 6.1,
 'Occupation': 'Student'}

In [119]:
# The items() method, returns an object of dict_items containing two value tuples
rv = d1.items()
print(rv)
print("\n", type(rv))

dict_items([('Name', 'Kakamanna'), ('Sex', 'Male'), ('Age', 23), ('Height', 6.1), ('Occupation', 'Student')])

 <class 'dict_items'>

In [120]:
# You can convert dictionary key-value pairs into a tuple containing two valued tuples
t1 = tuple(d1.items())
print(t1)
print("\n", type(t1))

(('Name', 'Kakamanna'), ('Sex', 'Male'), ('Age', 23), ('Height', 6.1), ('Occupation', 'Student'))

 <class 'tuple'>

In [121]:
#converting dictionary keys only into a tuple
t1 = tuple(d1.keys())
print(t1)
print("\n", type(t1))

('Name', 'Sex', 'Age', 'Height', 'Occupation')

 <class 'tuple'>

In [122]:
#converting dictionary values only into a list
mylist = list(d1.values())
print("\n", mylist)
print(type(mylist))

 ['Kakamanna', 'Male', 23, 6.1, 'Student']
<class 'list'>

## 7. Sorting a Dictionary by Values
- We can use the built-in function `sorted(iterable)` to get a sorted copy of a dictionary (by value). 
- The `sorted(iterable)` returns a sorted version of the iterable, without making any change to the iterable. 
- It's syntax is quite similar to `list.sort()` method, however, the iterator to be sorted needs to be passed as a required parameteras shown below:
```
    sorted(iterable, key=None, reverse=False)
```
- By default the `reverse` argument is `False`, you override the default behavior by passing a `True` value to this argument to perform a descending sort
- A custom key function can also be supplied to customize the sort order.

**Consider the following dictionary having `names` as keys and `marks` as values**

In [123]:
dict1 = {'rauf': 81, 
         'arif':90, 
        'maaz':76, 
        'hadeed':73,
         'mujahid':93, 
        }
dict1

{'rauf': 81, 'arif': 90, 'maaz': 76, 'hadeed': 73, 'mujahid': 93}

In [124]:
sorted(dict1, reverse=True)

['rauf', 'mujahid', 'maaz', 'hadeed', 'arif']

**When you pass a dictionary object to the `sorted()` function, it will return the list of sorted dictionary keys**

In [125]:
d2 = sorted(dict1)
d2

['arif', 'hadeed', 'maaz', 'mujahid', 'rauf']

**You can pass the keys only to the `sorted()` function, to do the above task**

In [126]:
d2 = sorted(dict1.keys())
d2

['arif', 'hadeed', 'maaz', 'mujahid', 'rauf']

**Similarly you can pass the values only to the `sorted()` function, and it will return the list of sorted values**

In [127]:
d2 = sorted(dict1.values())
d2

[73, 76, 81, 90, 93]

**Let us do customized sorting with Python Dictionaries**

**Example 1: Suppose we have a dictionary containing student names along with their marks and we want to sort the dictionary by highest marks of the students first**

In [128]:
dict1 = {'rauf': 81, 
         'arif':90, 
        'maaz':76, 
        'hadeed':73,
         'mujahid':93, 
        }
dict1

{'rauf': 81, 'arif': 90, 'maaz': 76, 'hadeed': 73, 'mujahid': 93}

In [129]:
# Function receives a key:value tuple (key, value) and returns the value
def func1(item):
    return item[1]


mylist = sorted(dict1.items(), key = func1, reverse=True)

print(mylist)

[('mujahid', 93), ('arif', 90), ('rauf', 81), ('maaz', 76), ('hadeed', 73)]

Note the `sorted()` function returned a list object in which each element is a two valued tuple having (key,value) pairs. You can always typecast such lists to a dictionary object

In [130]:
sorted_dict = dict(mylist)
sorted_dict

{'mujahid': 93, 'arif': 90, 'rauf': 81, 'maaz': 76, 'hadeed': 73}

In [131]:
type(sorted_dict)

dict

**Example 2: Suppose we have a JSON array containing name, age and grades of students. We want to sort it by the age of the students.**
- JSON stands for JavaScript Object Notation
- JSON is a text format for storing and transporting data
- A JSON string has comma separated `key:value` pairs

In [132]:
# The following JSON array defines a student object with 3 properties: `name`, `age`, and `grade`
# It is actually a list containing dictionary objects each object containing three key:value pairs
students = [
         {"name": "Hashim", "age": 18, "grade": "B"},
         {"name": "Salman", "age": 11, "grade": "A"},
         {"name": "Mazhar", "age": 12, "grade": "C"},
         {"name": "Farhan", "age": 22, "grade": "D"},
         {"name": "Bilal", "age": 19, "grade": "A"},
         {"name": "Zalaid", "age": 17, "grade": "B"}
        ]
students

[{'name': 'Hashim', 'age': 18, 'grade': 'B'},
 {'name': 'Salman', 'age': 11, 'grade': 'A'},
 {'name': 'Mazhar', 'age': 12, 'grade': 'C'},
 {'name': 'Farhan', 'age': 22, 'grade': 'D'},
 {'name': 'Bilal', 'age': 19, 'grade': 'A'},
 {'name': 'Zalaid', 'age': 17, 'grade': 'B'}]

In [133]:
# Function receives a dictionary object and returns the value corresponding to key age in that dictionary
def func2(item):
     return item.get('age') #return item['age']

sorted_students = sorted(students, key = func2)

sorted_students

[{'name': 'Salman', 'age': 11, 'grade': 'A'},
 {'name': 'Mazhar', 'age': 12, 'grade': 'C'},
 {'name': 'Zalaid', 'age': 17, 'grade': 'B'},
 {'name': 'Hashim', 'age': 18, 'grade': 'B'},
 {'name': 'Bilal', 'age': 19, 'grade': 'A'},
 {'name': 'Farhan', 'age': 22, 'grade': 'D'}]

Note the `sorted()` function returned a list object in which each element is a dictionary object having three key:value pairs

## 8. Simple Assignment (aliasing) vs Shallow Copy vs Deep Copy

### a. Aliasing: Making an Alias of a List object using simple Assignment `=` Operator
- In Python, we use `=` operator to create a copy/alias of an object. 
- Remember it doesnot create a new object, rather creates a new variable that shares the reference of the original object.

In [134]:
dict1 = {'rauf': 81, 
         'arif':90, 
        'maaz':76, 
        'hadeed':73,
         'mujahid':93, 
        }

dict2 = dict1

# Both references point to same memory object, so have the same ID
print('ID of dict1:', id(dict1))
print('ID of dict2:', id(dict2))

ID of dict1: 140647166336320
ID of dict2: 140647166336320

In [135]:
# If you modify an element of one object, the change will be visible in both
dict2["maaz"] = 100

print('\ndict1:', dict1)
print('dict2:', dict2)

dict1: {'rauf': 81, 'arif': 90, 'maaz': 100, 'hadeed': 73, 'mujahid': 93}
dict2: {'rauf': 81, 'arif': 90, 'maaz': 100, 'hadeed': 73, 'mujahid': 93}

### b. Shallow Copy
- We have used the `copy.copy()` method of copy module to create a shallow copy of List objects in our previous session
- To create a shallow copy of a list or dictionary, we can also use `copy()` method of List and Dictionary objects.

In [136]:
import copy
dict1 = {'rauf': 81, 
         'arif':90, 
        'maaz':76, 
        'hadeed':73,
         'mujahid':93, 
        }

#dict2 = copy.copy(dict1)
dict2 = dict1.copy()


# Both variables point to different memory objects, so have the different ID
print('ID of dict1:', id(dict1))
print('ID of dict2:', id(dict2))

ID of dict1: 140647166336384
ID of dict2: 140647166334656

In [137]:
# If you modify an element of one object, the change will NOT be visible in other
dict2["maaz"] = 100

print('\ndict1:', dict1)
print('dict2:', dict2)

dict1: {'rauf': 81, 'arif': 90, 'maaz': 76, 'hadeed': 73, 'mujahid': 93}
dict2: {'rauf': 81, 'arif': 90, 'maaz': 100, 'hadeed': 73, 'mujahid': 93}

**This seems woking fine, then why this is called shallow copy**

**Limitation of Shallow Copy**
- The word Shallow copy comes in picture when there is some object in dictionary like list or user define objects instead of primitive datatypes.
- The limitation of shallow copy is that it does not create a copy of nested objects, instead it just copies the reference of nested objects. This means, a copy process does not recurse or create copies of nested objects itself.
- Let us understand this by an example

In [138]:
import copy

dict1 = {'rauf': 81, 
         'arif':90, 
        'maaz':[55, 66, 77], #note we have a list of marks as a dictionary value
        'hadeed':73,
         'mujahid':93, 
        }
 
#dict2 = copy.copy(dict1)
dict2 = dict1.copy()


# Both variables point to different memory objects, so have the different ID
print('ID of dict1:', id(dict1))
print('ID of dict2:', id(dict2))

ID of dict1: 140647166335936
ID of dict2: 140647166314304

In [139]:
# If you modify a nested element of one object, the change will be visible in both
# This is the limitation of shallow copy

dict2["maaz"][1] = 0

print('\ndict1:', dict1)
print('\ndict2:', dict2)

dict1: {'rauf': 81, 'arif': 90, 'maaz': [55, 0, 77], 'hadeed': 73, 'mujahid': 93}

dict2: {'rauf': 81, 'arif': 90, 'maaz': [55, 0, 77], 'hadeed': 73, 'mujahid': 93}

- **Marks of student 'maaz' has been changed in both :(**
- **So in case of a dictionary having primitive datatypes, the shallow copy works fine. However, when we have nested objects inside the dictionary the shallow copy does not work**
- **Lets solve this using deep copy**

### c. Deep Copy: Making a Copy of an Object using `copy.deepcopy()` Method
- Deep copy creates a new object and recursively creates independent copy of original object and all its nested objects.

In [140]:
import copy

dict1 = {'rauf': 81, 
         'arif':90, 
        'maaz':[55, 66, 77], 
        'hadeed':73,
         'mujahid':93, 
        }
 
dict2 = copy.deepcopy(dict1)

# Both variables point to different memory objects, so have the different ID
print('ID of dict1:', id(dict1))
print('ID of dict2:', id(dict2))

ID of dict1: 140647166336384
ID of dict2: 140647164358016

In [141]:
# If you modify a nested element of one object, the change will be visible in other
dict2["maaz"][1] = 0

print('\ndict1:', dict1)
print('\ndict2:', dict2)

dict1: {'rauf': 81, 'arif': 90, 'maaz': [55, 66, 77], 'hadeed': 73, 'mujahid': 93}

dict2: {'rauf': 81, 'arif': 90, 'maaz': [55, 0, 77], 'hadeed': 73, 'mujahid': 93}